## Import Libraries

In [1]:
import sys
sys.path.append("..") # so we can import espresso from the directory above.
import os

import numpy as np
import scipy as sp
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
import bootstrap_contrast as bsc

import espresso as esp

/home/joseshowh/miniconda3/lib/python3.6/site-packages/seaborn/apionly.py:6: UserWarning: As seaborn no longer sets a default style on import, the seaborn.apionly module is deprecated. It will be removed in a future version.
  warnings.warn(msg, UserWarning)

## Create espresso instance

In [4]:
git_repo_folder='/home/joseshowh/git-repos/espresso'
datadir1=os.path.join(git_repo_folder,'data/by_genotype/Trh-Gal4-Trh-Zal-UAS-GZ-TrpA1/22')
datadir2=os.path.join(git_repo_folder,'data/by_genotype/Trh-Gal4-Trh-Zal-UAS-GZ-TrpA1/29')
datadir3=os.path.join(git_repo_folder,'data/starvation_gradient/24-Hrs')

twotubes22=esp.espresso(folder=datadir1)
twotubes29=esp.espresso(folder=datadir2)
starvation=esp.espresso(folder=datadir3)

In [5]:
starvation

2 feedlog(s) with a total of 60 flies.
1 genotype(s) detected ['w1118'].
2 temperature(s) detected [22 25].
1 foodtype(s) detected ['5% sucrose + 5% yeast extract'].

In [6]:
twotubes22

1 feedlog(s) with a total of 30 flies.
3 genotype(s) detected ['w1118;Trh-Gal4' 'w1118;UAS-Gz-TrpA1;Trh-Zal'
 'Trh-Gal4>UAS-GZ-TrpA1_Trh-ZAL'].
1 temperature(s) detected [22].
1 foodtype(s) detected ['5% sucrose + 5% yeast extract'].

In [7]:
twotubes29

1 feedlog(s) with a total of 30 flies.
3 genotype(s) detected ['w1118;Trh-Gal4' 'w1118;UAS-Gz-TrpA1;Trh-Zal'
 'Trh-Gal4>UAS-GZ-TrpA1_Trh-ZAL'].
1 temperature(s) detected [29].
1 foodtype(s) detected ['5% sucrose + 5% yeast extract'].

In [8]:
trh=twotubes22+twotubes29
trh.add_label(label_name='PlotGroup',label_from_cols=['Genotype','Temperature'])
trh

PlotGroup has been added as a new label. The values were created by concatenating the columns ['Genotype', 'Temperature'].

2 feedlog(s) with a total of 60 flies.
3 genotype(s) detected ['w1118;Trh-Gal4' 'w1118;UAS-Gz-TrpA1;Trh-Zal'
 'Trh-Gal4>UAS-GZ-TrpA1_Trh-ZAL'].
2 temperature(s) detected [22 29].
1 foodtype(s) detected ['5% sucrose + 5% yeast extract'].
1 label(s) have been added: ['PlotGroup']

## Test addition of espresso objects

In [9]:
s22=starvation+twotubes22
s29=starvation+twotubes29

In [10]:
s22.add_label(label_name='label1',label_value='test1')
s22

label1 has been added as a new label, with 'test1' as the custom value.

3 feedlog(s) with a total of 90 flies.
4 genotype(s) detected ['w1118' 'w1118;Trh-Gal4' 'w1118;UAS-Gz-TrpA1;Trh-Zal'
 'Trh-Gal4>UAS-GZ-TrpA1_Trh-ZAL'].
2 temperature(s) detected [22 25].
1 foodtype(s) detected ['5% sucrose + 5% yeast extract'].
1 label(s) have been added: ['label1']

In [11]:
s29.add_label(label_name='label2',label_value='test2')
s29

label2 has been added as a new label, with 'test2' as the custom value.

3 feedlog(s) with a total of 90 flies.
4 genotype(s) detected ['w1118' 'w1118;Trh-Gal4' 'w1118;UAS-Gz-TrpA1;Trh-Zal'
 'Trh-Gal4>UAS-GZ-TrpA1_Trh-ZAL'].
3 temperature(s) detected [22 25 29].
1 foodtype(s) detected ['5% sucrose + 5% yeast extract'].
1 label(s) have been added: ['label2']

In [12]:
df1=s22.flies.head()
df2=s29.flies.head()

In [13]:
df1

,ID,Genotype,Sex,Minimum Age,Maximum Age,Tube1,Tube2,Temperature,FlyCountInChamber,AtLeastOneFeed,label1
FlyID,,,,,,,,,,,
Fly1,1,w1118,M,5,7,5% sucrose + 5% yeast extract,NaN,22,1,True,test1
Fly2,2,w1118,M,5,7,5% sucrose + 5% yeast extract,NaN,22,1,True,test1
Fly3,3,w1118,M,5,7,5% sucrose + 5% yeast extract,NaN,22,1,True,test1
Fly4,4,w1118,M,5,7,5% sucrose + 5% yeast extract,NaN,22,1,True,test1
Fly5,5,w1118,M,5,7,5% sucrose + 5% yeast extract,NaN,22,1,True,test1

In [14]:
df2

,ID,Genotype,Sex,Minimum Age,Maximum Age,Tube1,Tube2,Temperature,FlyCountInChamber,AtLeastOneFeed,label2
FlyID,,,,,,,,,,,
Fly1,1,w1118,M,5,7,5% sucrose + 5% yeast extract,NaN,22,1,True,test2
Fly2,2,w1118,M,5,7,5% sucrose + 5% yeast extract,NaN,22,1,True,test2
Fly3,3,w1118,M,5,7,5% sucrose + 5% yeast extract,NaN,22,1,True,test2
Fly4,4,w1118,M,5,7,5% sucrose + 5% yeast extract,NaN,22,1,True,test2
Fly5,5,w1118,M,5,7,5% sucrose + 5% yeast extract,NaN,22,1,True,test2

In [ ]:
pd.merge(df1, df2, how=)

In [14]:
supersum=s22+s29
supersum

4 feedlog(s) with a total of 180 flies.
4 genotype(s) detected ['w1118' 'w1118;Trh-Gal4' 'w1118;UAS-Gz-TrpA1;Trh-Zal'
 'Trh-Gal4>UAS-GZ-TrpA1_Trh-ZAL'].
3 temperature(s) detected [25 22 29].
1 foodtype(s) detected ['5% sucrose + 5% yeast extract'].
1 label(s) have been added: ['label1']

In [15]:
megasum=supersum+trh
megasum

4 feedlog(s) with a total of 240 flies.
4 genotype(s) detected ['w1118' 'w1118;Trh-Gal4' 'w1118;UAS-Gz-TrpA1;Trh-Zal'
 'Trh-Gal4>UAS-GZ-TrpA1_Trh-ZAL'].
3 temperature(s) detected [25 22 29].
1 foodtype(s) detected ['5% sucrose + 5% yeast extract'].
2 label(s) have been added: ['label1', 'PlotGroup']

In [19]:
len(megasum.feeds)

25114

In [24]:
len( megasum.feeds.drop(megasum.added_labels, axis=1).drop_duplicates() )

12557